@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(87.4deg, rgb(181, 151, 174) 1.9%, rgb(154, 128, 181) 49.7%, rgb(158, 112, 112) 100.5%);
    font-family: 'Poppins', sans-serif;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

 /* styling to the quiz name */
h1{
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    margin-left: 3rem;
    color: rgb(232, 212, 226);
    border-radius: 15px;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: rgb(20, 18, 20);
    letter-spacing: 2px;
   
}

/* styling to the container that contains the quiz componets */
.quiz-container{
    background-color:rgb(228, 230, 238) ;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    width: 600px;
    overflow: hidden;

}

.quiz-header{
    padding: 5rem;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
    font-size: 30px;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.3rem;
    margin: 1rem 0;

}

ul li label{
    cursor: pointer;
}

button{
    background-color: rgb(140, 49, 226);
    color: rgb(246, 242, 242);
    border-radius: 5rem;
    display: block;
    width: 50%;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Pacifico', sans-serif;
    padding: 1rem;
    margin-left: 10rem;
}

button:hover{
    background-color: rgb(14, 1, 1);
}

button:focus{
    outline: none;
    background-color: rgb(42, 118, 42);
}

/* media queries for screens with max-width 500px and below */

@media (max-width: 500px) {

    * {
        font-size: 0.7rem;
        overflow: inherit;
    }}