@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz-name{
    margin-bottom: 600px;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-bottom: 50px;
    margin-left: 3rem;
}


.quiz-container{
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    width: 600px;
    overflow: hidden;
    margin-right: auto;

}

.quiz-header{
    padding: 5rem;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
    font-size: 30px;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.3rem;
    margin: 1rem 0;

}

ul li label{
    cursor: pointer;
}

button{
    background-color: blueviolet;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Pacifico', sans-serif;
    padding: 1.3rem;
}

button:hover{
    background-color: black;
}

button :focus{
    outline: none;
    background-color: green;
}